<h2 class="label">{{ modifier }}</h2>

<p>{{notes}}</p>

<div class="flex-row">
  <div class="flex-column{{ column-1 }} csu-green">
    <p><div class="square5"></div></p>
  </div>
  <div class="flex-column{{ column-2 }} csu-grey">
    <p></p>
  </div>
</div>
